@import url('http://fonts.cdnfonts.com/css/minecraft-4');

.frame-bar {
	background-color: var(--color-dark-gray);
	width: 100%;
	z-index: -1;
	height: 7%;
	position: absolute;
	top: 0px;
	right: 0px;
	-webkit-box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.5);
}
.draggable-bar {
	/* background-color: var(--color-light-gray); */
	width: 65.6%;
	z-index: -1;
	height: 7%;
	position: absolute;
	top: 0px;
	right: 6%;
	-webkit-user-select: none;
	user-select: none;
	-webkit-app-region: drag;
}

.draggable-bar:focus {
	cursor: pointer;
}

.windowControls {
	position: absolute;
	color: white;
	top: 0px;
	right: 0px;
	height: 7%;
	display: inline-block;
}

.closeWindow {
	font-size: 50px;
	position: absolute;
	height: 100%;
	top: 0px;
	right: 0px;
	width: 50px;
	transition-duration: 0.2s;
}

.closeWindow:hover {
	color: rgb(224, 91, 91);
	cursor: pointer;
	transform: translateY(-1px);
}

.minimizeWindow {
	font-size: 50px;
	position: absolute;
	height: 72%;
	padding-top: 40px;
	padding-bottom: 4px;
	top: -28px;
	right: 50px;
	width: 30px;
	font-size: 20px;
	padding-left: 10px;
	transition-duration: 0.2s;
}

.minimizeWindow:hover {
	color: rgb(133, 133, 133);
	cursor: pointer;
	transform: translateY(-2px);
}

a {
	text-decoration: none;
	color: inherit;
}

.selectButtons {
	font-family: 'Segoe UI', Arial, sans-serif;
	font-size: 22px;
	display: flex;
	font-weight: 500;
	position: absolute;
	top: 15px;
	left: 90px;
	z-index: 2;
	color: #ffffff70;
	/* background-color: var(--color-light-gray); */
}
.selectButton {
	padding-left: 7px;
	padding-bottom: 3px;
	padding-right: 7px;
	margin-right: 20px;
	transition-duration: 0.2s;
}
.selectButtonActive {
	color: white;
	border-bottom: #38ab44 solid 3px;
	border-radius: 3px;
}

.selectButton:hover {
	transform: translateY(-4px);
	padding-bottom: 6px;
	color: #ffffff92;
	cursor: pointer;
	/* border-bottom: #38ab44 solid 2px; */
}
.selectButtonActive:hover {
	color: white;
	border-bottom: #38ab44 solid 3px;
}
.selectDisabled {
	color: #ffffff30;
}
.selectDisabled:hover {
	color: #ffffff40;
	transform: translateY(-1.5px);
	cursor: default;
}

.accountsListings {
	position: relative;
	top: 100px;
	left: 380px;
	/* background-color: rgb(71, 71, 71); */
	width: 700px;
}

.accountLineShow {
	top: 100px;
	margin-bottom: 10px;
	/* position: relative; */
}
